@CHARSET "UTF-8";

a:hover{
	text-decoration: none;
}

.lead {
margin-top: 70px;
margin-bottom: 70px;
}

.h5 {
	color: white;
	    font-size: 16px;
}

.ul {
	margin: 0px;
	padding: 0px;
	line-height: 1.5;
}

#header, #header2 {
	background-color: #f5f5f5;
}

footer {
	background-color: #8E8E8E;
	padding-bottom: 40px;
}

li {
	list-style-type: none;
}

p{
	font-size: 18px;
	line-height: 1.5 ;
	color: rgb(85, 85, 85);
}

dl{
	margin-top: 10px;
	margin-bottom: 60px;
}

dt, dd {
	margin-top: 10px;
	margin-bottom: 10px;
}

dt>a {
	font-size: 16px;
	line-height: 1.4 ;
	/* color: rgb(85, 85, 85); */
	font-weight: normal;
}

h1, h2, h3{
	color: rgb(42, 93, 132);
}

h1 {
	font-size: 50px !important;
}

h2 {
    font-size: 34px;
	margin-bottom: 20px;
}

h3 {
	font-size: 26px;
}

.navbar-default {
	background-color: #ffffff;
	border-bottom: 1px solid #dcdcdc;
	min-height: 77px;
	border-width: 0 0 1px;
	margin-bottom: 22px;
}

.navbar-shadow{
	-webkit-box-shadow: 0 0 20px rgba(37,45,51, .5);
    box-shadow: 0 0 20px rgba(37,45,51, .5);
    -webkit-transition: top .1s, background .1s, padding .1s;
}

.container .row {
	margin-top: 60px;
	margin-bottom: 60px;
}

 .navbar-brand {
 	margin-top: 20px;
	padding: 0;
} 

.navbar-default .navbar-brand {
	color: black;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #555;
/* 	background-color: transparent;
	border-bottom: 2px solid #e7e7e7; */
}

.navbar-default .navbar-nav > li > a {
    font-size: 18px;
}

.thumbnail{
	margin-bottom: 0;
}

body>footer{
	background: #333;
	color: #949494;
	font-size: 16px;
}

body>footer #copyright {
	float: right;
	color: #fff;
}

#jump ul a {
    color: #949494;
}

@media ( min-width : 767px) and (max-width: 979px) {
	.navbar .nav>li {
		float: left;
		margin-top: 10px;
	}
}

.top-div{
	margin-top:77px
}

.support div{
	text-align:center
}

.support div p{
	text-align:left;
	margin-top: 20px
}